body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	/* background-image: url('../images/image1.jpg'); */
	background-color: #3987bb;
	/* background-image: linear-gradient(120deg,#2c3e50,#2c3e50,#19a855,#19a855,#2980b9,#2980b9,#ad1fd8,#ad1fd8,#8e44ad,#8e44ad); */
	/* background-size: 200%; */
	animation: bganimation 10s infinite;
}
@keyframes bganimation {
	0%{
		background-position: 0% 100%;
	}
	50%{
		background-position: 100% 100%;
	}
	100%{
		background-position: 0% 100%;
	}
}
.logo_box{
	width: 370px;
	padding: 30px;
	box-shadow: 2px 15px 25px 0px rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 50%;/*左上角为坐标（0，0）*/
	left: 50%;
	transform: translate(-50%,-50%);/*2D平面上朝左上平移自己宽度和高度的一半*/
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	text-align: center;
}
.logo_box h1{
	color: white;
	/*text-transform: uppercase;/*控制文本的大小写*/
	height: 50px;
	line-height: 50px; 
	font-size: 25px;
	font-weight: 400;
	margin: 0px;
	text-indent: 40px;
}
.logo_box h1 .logo{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url('../images/login-sprite.png');
	background-position: 0 -90px;
	position: absolute;
	left: 50px;
}
.logo_box input[type = 'text'], .logo_box input[type = 'password']{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 240px;
	outline: none;/*选中输入框后外面显示的轮廓，需要去掉*/
	color: white;/*光标的颜色*/
	/* border-radius: 25px; */
	transition: 0.3s;/*transition效果需要指定多少秒或毫秒才能完成*/
	border-width: 3px;
}
.logo_box input::-moz-placeholder{
	color:rgb(175, 175, 175);
}
.logo_box input::-webkit-input-placeholder{
	color:rgb(175, 175, 175);
}
.logo_box input[type = 'text']:focus, .logo_box input[type = "password"]:focus{
	width: 300px;
	border-color: #44bd32;
}
.logo_box .warning {/*账号密码提示*/
	margin: 0;
	color: rgba(0, 0, 0, 0);
	font-size: small;
}
.logo_box button[type = 'submit']{
	background: none;
	margin: 10px auto;
	border: 2px solid#44bd32;
	/* padding: 14px 10px; */
	width: 100px;
	height: 40px;
	outline: none;/*选中输入框后外面显示的轮廓，需要去掉*/
	color: rgb(255, 255, 255);/*光标的颜色*/
	font-weight: bold;
	/* border-radius: 25px; */
	transition: 0.3s;/*transition效果需要指定多少秒或毫秒才能完成*/
	border-width: 3px;
}
.logo_box button[type = 'submit']:hover{
	background-color: #44bd32; 
	color: black;
}
.logo_box .tiao_kuan{
	color: #777777;
	position: absolute;/*不放在正常的数据流中*/
	text-decoration: none;/*取消链接下划线*/
	bottom: 40px;
	right: 60px;
	
}