.search_box {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 200px;
    height: 30px;
    /* display: block; */
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    background: none;
}
.search_box p {
    /* display: inline-block; */
    margin: 0;
    padding: 0;

}
.search_box input[type = 'text']{
    margin: 0;
    padding: 0;
    width: 160px;
    background: none;
    outline: none;/*选中外面的边框*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: dashed black;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
}
.search_box input[type = 'text']:focus {
    border-bottom: solid;
}
.search_box .search_button {
    margin: 0;
    padding: 0;
    width: 31px;
    height: 31px;    /* border: solid #585858; */
    border: none;
    background: none;
    outline: none;
    position: absolute;
    right: 5px;
    transition: 0.2s;
}
.search_box .search_button:hover {
    border: solid black;
    /* background-color: #44bd32;  */
}
.search_box .search_button img {
    margin: 0;
    padding: 0;
    height: 23px;
}

.main {
    width: 94%;
    height: 93%;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-47%);
    background: rgba(255, 255, 255, 0);
    /* box-shadow: 2px 15px 25px 10px rgba(0, 0, 0, 0.7); */
    /* text-align: center; */
    /* border: solid; */
    overflow: auto;
}
.main::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.main::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background: #1f1f1f;
}
.main a {/*事件的跳转链接总框架*/
    height: 18%;
    display: block;
    position: relative;
    transition: 0.2s;
    margin-bottom: 20px;
    color: white;/*元素内部字体的颜色*/
    text-decoration: none;
    border-bottom: solid #000000;
}
.main a:hover {
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.7);
    border-bottom: solid rgba(0, 0, 0, 0);
}
.main a h3 {/*事件的标题*/
    display: inline-block;
    margin: 10px 0px 0px 10px;
    position: absolute;
    left: 0px;
}
.main a .time {/*事件的提交时间*/
    display: inline-block;
    margin: 10px 10px 0px 0px;
    position: absolute;
    right: 0px;
    font-weight: 600;
}
.main a .owner {/*事件负责人*/
    display: inline-block;
    margin: 0px 10px 20px 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.main a .owner img {/*负责人前面的缩略图*/
    margin: 0;
    padding: 0;
    height: 20px;
    vertical-align: bottom;
}
.main a .status {/*事件状态*/
    display: inline-block;
    margin: 0px 0px 16px 5px;
    padding: 3px 5px 4px 5px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #222222;
    border-radius: 10px;
    color: #ffffff;
}